#input{
    padding-left: 3px;
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 150px;
    background-color: black;
    border-radius: 10px;
    color: white;
    border-color: white;
  }
  .glow-on-hover {
    
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;  
  }
  
  .glow-on-hover:active {
    color: #000
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';              
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
#welcome{
    display: none;
}
.css-typing h1 {
    font-weight: 500;
    
    white-space: nowrap;
    overflow: hidden;
    color: white;
    
    }
    .css-typing h1:nth-child(1) {
    
    width: 100%;
    animation: type 1.5s ;
    }
    
    .css-typing h1:nth-child(2) {
   justify-content: center;
    width: 100%;
    opacity: 0;
    animation: type2 1s steps(40, end);
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    }
    
    
  
    
    @keyframes type {
    0% {
      width: 0%;
    }
    99.9% {
     
    }
    
    }
    
    @keyframes type2 {
    0% {
      width: 0%;
    }
    1%{
        opacity: 1;
    }
   
    100% {
      opacity: 1;
     
    }
    }
    
    
.vid{
   
    background-color: white;
    border-radius: 300px; 
    overflow: hidden; 
    width: 300px;
  
   
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
     
      
      .bgg {
        position: fixed;
        z-index: 1;
        height: 400px;
        width: 500px;
       
        margin-top: 10%;
     
      }
   
      .bgg .snowflake, .bgg .snowflake {
        position: absolute;
        font-size: 25px;
        color: #fff;
        height: 100%;
        animation: snow infinite;
      }
    
      .snowflake:nth-of-type(1) {
        left: 0%;
        animation-delay: 0s;
        animation-duration: 10s;
      }
      
      .snowflake:nth-of-type(2) {
        left: 10%;
        animation-delay: 0.1s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(3) {
        left: 20%;
        animation-delay: 0.2s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(4) {
        left: 30%;
        animation-delay: 0.3s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(5) {
        left: 40%;
        animation-delay: 0.4s;
        animation-duration: 3s;
      }
      
      .snowflake:nth-of-type(6) {
        left: 10%;
        animation-delay: 0.5s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(7) {
        left: 15%;
        animation-delay: 0s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(8) {
        left: 20%;
        animation-delay: 0.1s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(9) {
        left: 25%;
        animation-delay: 0.2s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(10) {
        left: 30%;
        animation-delay: 0.3s;
        animation-duration: 3s;
      }
      
      .snowflake:nth-of-type(11) {
        left: 35%;
        animation-delay: 0.4s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(12) {
        left: 40%;
        animation-delay: 0.5s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(13) {
        left: 45%;
        animation-delay: 0s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(14) {
        left: 50%;
        animation-delay: 0.1s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(15) {
        left: 55%;
        animation-delay: 0.2s;
        animation-duration: 3s;
      }
      
      .snowflake:nth-of-type(16) {
        left: 60%;
        animation-delay: 0.3s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(17) {
        left: 65%;
        animation-delay: 0.4s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(18) {
        left: 70%;
        animation-delay: 0.5s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(19) {
        left: 75%;
        animation-delay: 0s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(20) {
        left: 80%;
        animation-delay: 0.1s;
        animation-duration: 3s;
      }
      
      .snowflake:nth-of-type(21) {
        left: 85%;
        animation-delay: 0.2s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(22) {
        left: 90%;
        animation-delay: 0.3s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(23) {
        left: 95%;
        animation-delay: 0.4s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(24) {
        left: 5%;
        animation-delay: 0.5s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(25) {
        left: 50%;
        animation-delay: 0s;
        animation-duration: 3s;
      }
      
      .snowflake:nth-of-type(26) {
        left: 60%;
        animation-delay: 0.1s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(27) {
        left: 70%;
        animation-delay: 0.2s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(28) {
        left: 80%;
        animation-delay: 0.3s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(29) {
        left: 90%;
        animation-delay: 0.4s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(30) {
        left: 95%;
        animation-delay: 0.5s;
        animation-duration: 3s;
      }
      
      .snowflake:nth-of-type(31) {
        left: 7%;
        animation-delay: 0s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(32) {
        left: 17%;
        animation-delay: 0.1s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(33) {
        left: 27%;
        animation-delay: 0.1s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(34) {
        left: 37%;
        animation-delay: 0.2s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(35) {
        left: 47%;
        animation-delay: 0.3s;
        animation-duration: 3s;
      }
      
      .snowflake:nth-of-type(36) {
        left: 57%;
        animation-delay: 0.4s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(37) {
        left: 67%;
        animation-delay: 0.5s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(38) {
        left: 77%;
        animation-delay: 0s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(39) {
        left: 87%;
        animation-delay: 0.1s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(40) {
        left: 95%;
        animation-delay: 0.2s;
        animation-duration: 3s;
      }
      
      .snowflake:nth-of-type(41) {
        left: 3%;
        animation-delay: 0.3s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(42) {
        left: 23%;
        animation-delay: 0.4s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(43) {
        left: 53%;
        animation-delay: 0.5s;
        animation-duration: 1s;
      }
      
      .snowflake:nth-of-type(44) {
        left: 73%;
        animation-delay: 0s;
        animation-duration: 2s;
      }
      
      .snowflake:nth-of-type(45) {
        left: 93%;
        animation-delay: 0.1s;
        animation-duration: 3s;
      }
      
      ul {
        list-style-type: none;
      }
      
      @keyframes snow {
        0% {transform: skewX(0deg) translateY(-3%);}
        5% {transform: skewX(1deg) translateY(5%);}
        10% {transform: skewX(2deg) translateY(10%);}
        15% {transform: skewX(3deg) translateY(15%);}
        20% {transform: skewX(4deg) translateY(20%);}
        25% {transform: skewX(5deg) translateY(25%);}
        30% {transform: skewX(6deg) translateY(30%);}
        35% {transform: skewX(7deg) translateY(35%);}
        40% {transform: skewX(8deg) translateY(40%);}
        45% {transform: skewX(9deg) translateY(45%);}
        50% {transform: skewX(10deg) translateY(50%);}
        55% {transform: skewX(9deg) translateY(55%);}
        60% {transform: skewX(8deg) translateY(60%);}
        65% {transform: skewX(7deg) translateY(65%);}
        70% {transform: skewX(6deg) translateY(70%);}
        75% {transform: skewX(5deg) translateY(75%);}
        80% {transform: skewX(4deg) translateY(80%);}
        85% {transform: skewX(3deg) translateY(85%);}
        90% {transform: skewX(2deg) translateY(90%);}
        95% {transform: skewX(1deg) translateY(95%);}
        100% {transform: skewX(0deg) translateY(97%);}
      }
      
